.button {
    width: 90px;
    height: 40px;
}

.btn_container {
    margin-left: 10px;
    margin-right: 10px;
}

@media(max-width:355px) {
    .btn_container {
        margin-left: 5px;
        margin-right: 5px;
    }
}