.counter {
    border: 2px black solid;
    width: 350px;
    height: 250px;
    background-color: #DCDCDC;
    /*background-color: lightsteelblue;*/
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 1px 3px 10px black;
}

.mainScreen {
    display: flex;
}
.mainScreen span {
    padding-top: 2px;
}

.counterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.message {
    width: 300px;
    height: 100px;
    margin-bottom: 55px;
    color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

.counterDarkMode {
    border: 2px white solid;
    width: 350px;
    height: 250px;
    background-color: indigo;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 1px 3px 10px white;
}
