.counter {
    border: 1px black solid;
    display: inline-block;
    width: 350px;
    height: 200px;
    background-color: #2F4F4F;
}

.counterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}