.counter {
    border: 1px black solid;
    display: inline-block;
    width: 350px;
    height: 200px;
    background-color: #2F4F4F;
}

.counterContainer {
    display: inline-block;
    margin-left: 28px;
    margin-top: 20px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}