.counter {
  border: 2px black solid;
  width: 350px;
  height: 250px;
  background-color: #DCDCDC;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 1px 3px 10px black;

  &.counterDarkMode{
    border: 2px white solid;
    background-color: indigo;
    box-shadow: 1px 3px 10px white;
  }
}

.counterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.mainScreen {
  display: flex;
  margin-bottom: 5px;
  span {
    padding-top: 2px;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.message {
  width: 300px;
  height: 100px;
  margin-bottom: 40px;
  color: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}


@media(max-width:375px) {
  .counter {
    width: 330px;
    height: 250px;
  }

  .counterDarkMode {
    width: 330px;
    height: 250px;
  }
}

@media(max-width:355px) {
  .counter {
    width: 310px;
    height: 240px;
  }

  .counterDarkMode {
    width: 310px;
    height: 240px;
  }

  .message {
    margin-bottom: 30px;
  }
}