.display {
  width: 300px;
  height: 110px;
  border: 1px black solid;
  margin-bottom: 35px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  border-radius: 5px;

  &.displayDarkMode {
    border: 1px white solid;
    color: white;
  }

  &.lastValueStyle {
    font-size: 70px;
    color: #DC143C;
  }
}

.displayMessageStyle {
  font-size: 20px;
}

@media(max-width:355px) {
  .display {
    width: 280px;
    height: 100px;
  }

  .displayDarkMode {
    width: 280px;
    height: 100px;
  }
}