.display {
    width: 300px;
    height: 100px;
    background-color: cornflowerblue;
    border: 1px black solid;
    margin-bottom: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.lastValueStyle {
    font-size: 40px;
    color: #DC143C;
}

.displayMessageStyle {
    font-size: 20px;
}