.settings {
    border: 2px black solid;
    display: inline-block;
    width: 350px;
    height: 250px;
    background-color: cornflowerblue;
    margin-right: 100px;
}

.settingsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}


.display {
    width: 300px;
    height: 110px;
    background-color: white;
    border: 1px black solid;
    margin-bottom: 55px;
    color: white;
}

.containerValue {
    display: flex;
}

.containerValue p {
    color: white;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 20px;
}

.value {
    /*width: 120px;*/
    /*height: 30px;*/
    font-size: 18px;
    font-weight: 700;
    outline: none;
    /*margin-left: 20px;*/
}

.errorValue {
    /*border: 1px red solid;*/
    background-color: red;
    opacity: 0.6;
}