.settings {
    border: 2px black solid;
    width: 350px;
    height: 250px;
    background-color: #DCDCDC;
    /*background-color: lightsteelblue;*/
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 1px 3px 10px black;
}

.settingsDarkMode {
    border: 2px white solid;
    width: 350px;
    height: 250px;
    background-color: black;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 1px 3px 10px white;
}

.settingsText {
    color: black;
   /* border-bottom: 1px solid black;*/
    display: flex;
}
.settingsText span {

}

.settingsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}


.display {
    width: 300px;
    height: 100%;
    margin-bottom: 20px;
    color: white;
}

.containerValue {
    display: flex;
}

/*.containerValue p {
    color: white;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 20px;
}*/

/*.value {
    font-size: 18px;
    font-weight: 700;
    outline: none;
}*/

/*
.errorValue {
    background-color: red;
    opacity: 0.6;
    border-radius: 5px;
}*/
